<button mat-button (click)="isLinear = !isLinear">切換Linear狀態</button>
<form [formGroup]="surveyForm">
  <mat-vertical-stepper [linear]="isLinear">
    <mat-step formGroupName="basicQuestions" [stepControl]="surveyForm.get('basicQuestions')" optional>
      <ng-template matStepLabel>
        <u>個人資訊</u>
      </ng-template>
      <h4>提供個人資訊</h4>
      <mat-form-field>
        <input name="name" matInput placeholder="姓名" formControlName="name" required>
      </mat-form-field>
      <div>
        <mat-form-field>
          <input type="text" name="nickname" matInput placeholder="暱稱" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="text" name="country" matInput placeholder="國家" formControlName="country" [matAutocomplete]="countries" />
        </mat-form-field>
        <mat-autocomplete #countries="matAutocomplete">
          <mat-option *ngFor="let country of countries$ | async" [value]="country.name">
            {{ country.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div>
        <mat-form-field>
          <input type="text" name="majorTech" matInput placeholder="代表技術" formControlName="majorTech" [matAutocomplete]="majorTechs"
          />
        </mat-form-field>
        <mat-autocomplete #majorTechs="matAutocomplete">
          <mat-optgroup *ngFor="let techList of majorTechList" [label]="techList.name">
            <mat-option *ngFor="let tech of techList.items" [value]="tech">
              {{ tech }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </div>
      <div>
        <mat-form-field>
          <textarea name="intro_self" matInput placeholder="自我介紹" formControlName="intro" required matTextareaAutosize></textarea>
          <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
          <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('required')">請記得輸入自我介紹喔！</mat-error>
          <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('minlength')">至少輸入10個字吧！</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="text" name="birthday" matInput [min]="minDate" [max]="maxDate" placeholder="生日" [matDatepicker]="demoDatepicker" formControlName="birthday" />
          <mat-datepicker-toggle [for]="demoDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #demoDatepicker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>前進到「詳細問題」</button>
      </div>

    </mat-step>
    <!-- 這個step無法被切回來 -->
    <mat-step editable="false">
      <ng-template matStepLabel>
        <em>詳細問題</em>
      </ng-template>
      <h4>主要的問題內容</h4>
      <button mat-button matStepperPrevious>回進到「個人資訊」</button>
      <button mat-button matStepperNext>前進到「其他」</button>
    </mat-step>
    <mat-step label="其他">
      <h4>其他問題</h4>
      <button mat-button matStepperPrevious>回進到「詳細問題」</button>
    </mat-step>
  </mat-vertical-stepper>
</form>
