<h2 mat-dialog-title>
  新增部落格文章
</h2>

<mat-dialog-content class="post-form">
  <mat-form-field>
    <input matInput placeholder="標題" [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="文章內容" rows="3"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" (remove)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input placeholder="文章標籤" [matChipInputFor]="chipList" matChipInputAddOnBlur="true" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addTag($event)" />
  </mat-form-field>
  <p>條款01</p>
  <p>條款02</p>
  <p>條款03</p>
  <p>條款04</p>
  <p>條款05</p>
  <p>條款06</p>
  <p>條款07</p>
  <p>條款08</p>
  <p>條款09</p>
  <p>條款10</p>
  <p>條款11</p>
  <p>條款12</p>
  <p>條款13</p>
  <p>條款14</p>
  <p>條款15</p>
  <p>條款16</p>
  <p>條款17</p>
  <p>條款18</p>
  <p>條款19</p>
  <p>條款20</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="move()">換個位置</button>
  <button mat-button color="primary" (click)="doPost()">發表</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
