<mat-toolbar color="primary" class="demo-app-header">
  <span>IT鐵人賽－Angular Material Demo</span>
</mat-toolbar>

<mat-sidenav-container class="demo-app-container">
  <mat-sidenav class="demo-app-sidenav" #sideNav mode="over" opened="true" (opened)="opened()" (closed)="closed()">
    <div>我是左邊選單</div>
    <div>
      <button mat-raised-button color="warn" (click)="toggleSideNav(sideNav)">切換選單狀態</button>
    </div>
  </mat-sidenav>

  <mat-sidenav #sideNavEnd opened="true" mode="side" position="end">
    <div>我是右邊選單</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="toggleSideNav(sideNav)">切換選單狀態</button>

    <mat-drawer-container style="height:100px;margin:10px;border: 1px solid black">
      <mat-drawer mode="side" opened="true">Drawer Side</mat-drawer>
      <mat-drawer-content>Content</mat-drawer-content>
    </mat-drawer-container>

    <mat-toolbar>這是預設的toolbar</mat-toolbar>
    <mat-toolbar color="primary">這是primary的toolbar</mat-toolbar>
    <mat-toolbar color="accent">這是accent的toolbar</mat-toolbar>
    <mat-toolbar color="warn">這是warn的toolbar</mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
