/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0px;
}

.demo-app-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.demo-app-container,
.demo-app-sidenav {
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.demo-app-sidenav {
  width: 300px;
}

.toolbar-seprator {
  flex: 1 1 auto;
}

.autocomplete-highlight {
  font-weight: bold;
  background: yellow;
}

.blue-dropdown .mat-select-content {
  background: rgba(0, 0, 255, 0.5);
}

.post-tile {
  align-self: flex-start;
  width: 100%;
  margin: 5px;
}

.post-tile .mat-card-image {
  max-height: 300px;
}
