.demo-ripple-container {
  height: 150px;
  width: 200px;
  position: relative;
  transition: all 200ms linear;
  border: 1px solid black;
}

button {
  margin-bottom: 5px;
}

.portal-demo {
  width: 100%;
  margin: 5px;
  margin-bottom: 50px;
}

.portal-demo .tabs {
  border-bottom: 1px solid black;
}
