<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile style="background: red" colspan="2">
    Tile 1(橫幅廣告)
  </mat-grid-tile>
  <mat-grid-tile style="background: green" rowspan="22">
    <mat-grid-tile-header>
      <h3 mat-line>功能清單</h3>
      <span mat-line>選擇你要的</span>
      <mat-icon>list</mat-icon>
    </mat-grid-tile-header>

    <mat-grid-tile-footer>
      <span mat-line>生是IT人</span>
      <span mat-line>死是IT魂</span>
      <span mat-line>但我不想死</span>
      <mat-icon>thumb_up</mat-icon>
    </mat-grid-tile-footer>
    Tile 2(右邊清單資訊)
  </mat-grid-tile>

  <mat-grid-tile rowspan="2" style="background: blue">
    置頂文章1
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" style="background: blue">
    置頂文章2
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let post of posts$ | async" rowspan="6">
    <mat-card class="post-tile">
      <mat-card-header>
        <mat-card-title>{{ post.title.substring(0, 15) }}...</mat-card-title>
        <mat-card-subtitle>User Id: {{ post.userId }}</mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?random" />
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/300/300/?random" />
      <mat-card-content>{{ post.body.substring(0, 100) }}...</mat-card-content>
      <mat-card-actions>
        <button mat-button color="paimray">繼續閱讀</button>
        <button mat-button color="accent">編輯</button>
      </mat-card-actions>
      <mat-card-footer>IT鐵人賽系列好文</mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile style="background: yellow" colspan="2">
    Tile 4(下方橫幅廣告)
  </mat-grid-tile>
</mat-grid-list>
